{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<p>Welcome to your profile {{user}}</p>

<p>  </p>

<a class="navbar-brand" href="/update_details/">Update Details</a>
<a class="navbar-brand" href="/add_record/">Add Journey</a>
<a class="navbar-brand" href="/messanger/">Messanger</a>
<a class="navbar-brand" href="/add_car/">Car Details</a>

<br><br><br>

<p>Your Details</p>
{% if wdata %}
    <div id="menu"></div>
    <ol>


    {% for w in wdata %}
        <p>ID: {{ w.client_id }} <br></p>
        <p>Name: {{w.firstname}} {{w.lastname}}  <br></p>
        <p>Email: {{w.email}}  <br></p>
        <p>Age: {{w.age}}  <br></p>
        <p>Phone: {{w.phone}}  <br></p>
        <p>Gender: {{w.gender}}  <br></p>
        <p>State: {{w.client_is}}  <br></p>
        <p>Home: {{w.home}}  <br></p>
    {% endfor %}
    </ol>
    <br>

{% else %}
    <Li> No details found.</Li>
{% endif %}


<p>Your Routes</p>
{% if rdata %}
  <div id="menu"></div>
    <ol>
    {% for r in rdata %}
        <li>Jouney Name: {{ r.journey_name }} From {{r.from_place}} to {{r.to_place}}, on: {{ r.time }}, Car Reg: {{ r.reg }} , with {{r.seats_free}} free spaces.  <a href="/decrease/?q={{r.id}}"> (-1 Space) </a><a href="/increase/?q={{r.id}}"> (+1 Space) </a><br></li>
    {% endfor %}
    </ol>


{% else %}
    <Li> No journeys found.</Li>
{% endif %}




<p>Your Car</p>
{% if cdata %}
  <div id="menu"></div>
    <ol>
    {% for c in cdata %}
        <li> Regristration: {{c.car_reg}},   Seats: {{c.seats_free}},     Description: {{c.car_desc}}  <br></li>
    {% endfor %}
    </ol>
    </div>


{% else %}
    <Li> No details found.</Li>
{% endif %}



{%  endblock %}
