{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block content %}

{% if error %}
<pstyle="color:red;"> {{ msg }} </p>
<p style="color:#070000;">Please submit a search term.</p>
{% endif %}

<form action="/search/" method="get">
<p style="color:#070000;">Please submit a search term. From Destination </p>
    <input type="text" name="q">
    <input type="submit" value="Search">
</form>

<form action="/search/" method="get">
<p style="color:#070000;">Please submit a search term. To Destination</p>
    <input type="text" name="t">
    <input type="submit" value="Search">
</form>

{%  endblock %}
