{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<p>Welcome to your profile {{user}}</p>

<p>  </p>


<p><a href="/update_details/">Update Details</a>
<p><a href="/add_record/">Add Journey</a></p>



{% if wdata %}
    <div id="menu"></div>
    <ol>
    {% for w in wdata %}
        <li>ID: {{ w.driver_id }} <br></li>
        <li>Name: {{w.firstname}}  <br></li>
        <li>ID: {{ w.driver_id }} <br></li>
        <li>Name: {{w.firstname}} {{w.lastname}}  <br></li>
        <li>Email: {{w.email}}  <br></li>
        <li>Age: {{w.age}}  <br></li>
        <li>Phone: {{w.phone}}  <br></li>
        <li>Gender: {{w.gender}}  <br></li>
        <li>Home: {{w.home}}  <br></li>
        <li>Car Reg: {{w.car_reg}}  <br></li>
        <li>Car Description: {{w.car_desc}}  <br></li>
    {% endfor %}
    
    
    </ol>
    </div>

{% else %}
    <p> No details found.</p>
{% endif %}


{%  endblock %}
